@import 'menu-btn';
.nav {
    width: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: #fff;
    background: $dark;
    position: fixed;
    transition: .5s ease-in; // transform: translateX(0%);
    &__menu-btn {
        border: none;
        position: absolute;
        left: 102%;
        width: 2.3em;
        height: 2.3em;
        cursor: pointer;
        top: 0.5em;
        transition: .5s ease-in;
        transform: rotateY(180deg);
    }
    &__user-details {
        padding-top: 1em;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 7em;
        .user-img {
            width: 3.5em;
            height: 3.5em;
            border-radius: 50%;
            border: 2px solid $yellow;
            background: {
                image: url('https://scontent.fwaw5-1.fna.fbcdn.net/v/t1.0-9/12074977_881580261919192_8102689156509213859_n.jpg?oh=4c8914f2388d7eab7a239853ac3748fe&oe=59756401');
                size: cover;
            }
        }
        .user-name {
            width: 100%;
            text-align: center;
        }
    }
    &__menu {
        padding: 0;
        height: 100%;
        width: 100%;
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__item {
        width: auto;
        padding: 0.5em;
        cursor: pointer;
        position: relative;
        height: auto;
        display: block;
        border-bottom: 2px solid #000;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 1em;
            display: flex;
            flex-direction: row;
            span {
                min-height: 1em;
                display: inline-flex;
                align-items: center;
                margin-left: 0.5em;
            }
        }
        &:hover {
            border-bottom-color: $yellow;
            background: $item-active;
        }
    }
    &__logout {
        margin-bottom: 1em;
        span {
            min-height: 1em;
            display: inline-flex;
            align-items: center;
            margin-left: 0.5em;
        }
    }
    .icon {
        height: 2em;
    }
    @media (max-height: 405px) and (orientation: landscape) {
        &__user-details {
            .user-name {
                display: none;
            }
        }
        &__menu {
            transform: translateY(-20%);
        }
        &__logout {
            margin: 0;
        }
    }
}

.menu-push {
    transform: translateX(-100%);
}



.rotate-btn {
    transform: rotateY(0deg);
}