$text-inactive: #8290AA;
$text-active: #F9F9F8;
$fb-blue: #3b5998;
$item-active: #282828;
$item-inactive: #354052;
$dark: #161616;
$yellow: #FDCA02;
@mixin btn-active {
    border-bottom-color: $yellow;
    background: $item-active;
}