<navbar></navbar>

<div class="home-page" ng-controller="homeCtrl">
    <header class="home-page__header">
        <h2>WorkTime</h2>
    </header>
    <section class="home-page__intro intro">
        <div class="intro__line">
        </div>
        <div class="intro__content content wow ">
            <span class="content__title">Czatuj</span>
            <p class="content__text">
                Przejdź do zakładki "Chatbot", aby rozpocząć rejestrowanie swoich zadań.
            </p>
        </div>
        <div class="intro__line">
        </div>
        <div class="intro__content content">
            <span class="content__title">twórz wykresy</span>
            <p class="content__text">
                W zakładce "Wykresy" dostępne są wykresy prezentujące dane zebrane poprzez czat.
            </p>
        </div>
        <div class="intro__line">
        </div>
        <div class="intro__content content">
            <span class="content__title">pomoc</span>
            <p class="content__text">
                W razie problemów zajrzyj do zakładki "Pomoc", gdzie uzyskasz listę wskazówek.
            </p>
        </div>

    </section>
    <div>