<navbar></navbar>

<div class="help-page" ng-controller="helpCtrl">
    <header class="help-page__header">
        <h2>Pomoc</h2>
    </header>
    <section class="help-page__faq faq">
        <span class="help-page__title">Instrukcja rejestrowania zadań w chatbocie:</span>
        <ul class="help-page__list list">
            <li class="list__item">Używając nawigacji przejdź do zakładki <span class="yellow-italic">Chatbot</span>.</li>
            <li class="list__item">Wyślij <span class="yellow-italic">start</span>, aby rozpocząć rozmowę z botem.</li>
            <li class="list__item">W momencie, gdy zaczynasz swoje zadanie, wyślij wiadomość <span class="yellow-italic">zacznij</span> + <em>twoja nazwa zadania.</em></li>
            <li class="list__item">Polecenie <span class="yellow-italic">zakończ</span> sprawi, że trwające zadanie zostanie zakończone. Nazwa zadania,
                godzina jego rozpoczęcia i zakończenia zostanie zapisana.</li>
        </ul>
    </section>
    <div>