html {
  height: 100%; }

body {
  background: #343838;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif; }

.nav {
  width: 5em; }
  .nav__menu {
    height: 100vh;
    margin: 0;
    background: #000;
    padding: 10px 0px;
    list-style: none; }
  .nav__item {
    margin: 1.5em 0.9em;
    cursor: pointer;
    position: relative;
    height: auto;
    display: block; }
    .nav__item a {
      text-decoration: none;
      color: #fff;
      font-size: 1em;
      display: block;
      text-align: center; }
  .nav .icon {
    height: 2em; }
