html {
  height: 100%; }

body {
  background: #343838;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif; }

.hamburger-icon {
  width: 2em;
  height: 1.2em;
  position: absolute;
  left: 104%;
  top: -1.5em;
  display: block;
  margin: 2.4em auto 1.2em auto; }
  .hamburger-icon .line {
    display: block;
    background: #fff;
    width: 2em;
    height: 3px;
    position: absolute;
    left: 0;
    border-radius: 1.5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s; }
    .hamburger-icon .line.line-1 {
      top: 0; }
    .hamburger-icon .line.line-2 {
      top: 50%; }
    .hamburger-icon .line.line-3 {
      top: 100%; }
  .hamburger-icon.active .line-1 {
    transform: translateY(0.6em) translateX(0) rotate(45deg);
    -webkit-transform: translateY(0.6em) translateX(0) rotate(45deg);
    -moz-transform: translateY(0.6em) translateX(0) rotate(45deg); }
  .hamburger-icon.active .line-2 {
    opacity: 0; }
  .hamburger-icon.active .line-3 {
    transform: translateY(-0.6em) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-0.6em) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-0.6em) translateX(0) rotate(-45deg); }

.nav {
  width: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  color: #fff;
  background: #161616;
  position: fixed;
  transition: .5s ease-in; }
  .nav__menu-btn {
    border: none;
    position: absolute;
    left: 102%;
    width: 2.3em;
    height: 2.3em;
    cursor: pointer;
    top: 0.5em;
    transition: .5s ease-in;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  .nav__user-details {
    padding-top: 1em;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 7em; }
    .nav__user-details .user-img {
      width: 3.5em;
      height: 3.5em;
      border-radius: 50%;
      border: 2px solid #FDCA02;
      background-image: url("https://scontent.fwaw5-1.fna.fbcdn.net/v/t1.0-9/12074977_881580261919192_8102689156509213859_n.jpg?oh=4c8914f2388d7eab7a239853ac3748fe&oe=59756401");
      background-size: cover; }
    .nav__user-details .user-name {
      width: 100%;
      text-align: center; }
  .nav__menu {
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .nav__item {
    width: auto;
    padding: 0.5em;
    cursor: pointer;
    position: relative;
    height: auto;
    display: block;
    border-bottom: 2px solid #000; }
    .nav__item a {
      text-decoration: none;
      color: #fff;
      font-size: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .nav__item a span {
        min-height: 1em;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 0.5em; }
    .nav__item:hover {
      border-bottom-color: #FDCA02;
      background: #282828; }
  .nav__logout {
    margin-bottom: 1em; }
    .nav__logout span {
      min-height: 1em;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 0.5em; }
  .nav .icon {
    height: 2em; }
  @media (max-height: 405px) and (orientation: landscape) {
    .nav__user-details .user-name {
      display: none; }
    .nav__menu {
      -webkit-transform: translateY(-20%);
              transform: translateY(-20%); }
    .nav__logout {
      margin: 0; } }

.menu-push {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }

.rotate-btn {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg); }

.start-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url("../landing.jpg");
  background-position: center;
  background-size: cover; }
  .start-page .login-form {
    margin: auto;
    text-align: center; }
    .start-page .login-form__btn {
      width: 14em;
      height: 2em;
      font-size: 1.3em;
      color: #fff;
      cursor: pointer;
      background: #4d6fa9;
      border: none;
      border-radius: 1em; }
      .start-page .login-form__btn .login-icon {
        height: 2em; }
  .start-page h1 {
    color: #dedede;
    font-size: 3em;
    margin: auto;
    text-align: center; }
