<nav class="nav" ng-class="{'menu-push' : isPushed}" ng-controller="navbarCtrl">

    <a class="hamburger-icon" href="" title="Menu" ng-click="isPushed=!isPushed" ng-class="{'active-menuBtn' : !isPushed}">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
    </a>

    <div class="nav__user-details">
        <div class="user-img"></div>
        <span class="user-name">Sebastian Kopiczko</span>

    </div>
    <ul class="nav__menu" ng-init="selectedTab = 'home'">

        <li class="nav__item" ng-class="{'active-tab' : selectedTab === 'home'}" ng-click="isPushed=!isPushed; selectedTab = 'home'">
            <a href="#home"><img class="icon icon-home" alt="home icon" src="../assets/nav icons/003-home.svg"></img>
                <span>Home</span></a>
        </li>
        <li class="nav__item" ng-class="{'active-tab' : selectedTab === 'chat'}" ng-click="isPushed=!isPushed; selectedTab = 'chat'">
            <a href="#chat">
                <img class="icon icon-chat" alt="chat icon" src="../assets/nav icons/002-chat.svg"></img>
                <span class="span-chatbot">Chatbot</span></a>
        </li>
        <li class="nav__item" ng-class="{'active-tab' : selectedTab === 'charts'}" ng-click="isPushed=!isPushed; selectedTab = 'charts'">
            <a href="#charts">
                <img class="icon icon-chart" alt="charts icon" src="../assets/nav icons/001-business.svg"></img>
                <span>Charts</span></a>
        </li>
        <li class="nav__item" ng-class="{'active-tab' : selectedTab === 'help'}" ng-click="isPushed=!isPushed; selectedTab = 'help'">
            <a href="#help">
                <img class="icon icon-chart" alt="charts icon" src="../assets/nav icons/help.svg"></img>
                <span class="span-help">Help</span></a>
        </li>
    </ul>

    <div class="nav__logout nav__item" ng-class="{'active-tab' : selectedTab === 'logout'}" ng-click="isPushed=!isPushed; selectedTab = 'logout'">
        <a href="#/" ng-click="fbLogout()">
            <img class="icon icon-logout" alt="charts icon" src="../assets/nav icons/logout.svg"></img>
            <span class="span-logout">Logout</span></a>
    </div>

</nav>