<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__item">
            <a href=""><img class="icon icon-home" alt="home icon" src="../assets/nav icons/003-home.svg"></img>
                <span>Home</span></a>
        </li>
        <li class="nav__item">
            <a href="">
                <img class="icon icon-chat" alt="chat icon" src="../assets/nav icons/002-chat.svg"></img>
                <span>Chatbot</span></a>
        </li>
        <li class="nav__item">
            <a href="">
                <img class="icon icon-chart" alt="charts icon" src="../assets/nav icons/001-business.svg"></img>
                <span>Charts</span></a>
        </li>
    </ul>
</nav>